*{
    margin: 0px;
    border: 0px;
}

div h1{
    color: whitesmoke;
    text-align: center;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 70px;
}

.contenedorIcons{
    background-color: rgb(0, 0, 0);
    opacity: 75%;
    color: whitesmoke;
    padding: 8px;
}

.contenedorLogo{
    background-color: rgb(11, 32, 11);
    padding: 40px;
}

.llaves{
    background-image: url('../images/llaves.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorPresentacion{
    padding: 60px;
    background-color: rgb(11, 32, 11);
    opacity: 0.8;
    color: whitesmoke;
}


.contenedorServicios{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0),rgb(8, 39, 0),rgb(17, 51, 0));
    color: whitesmoke;
    padding: 60px;
}

.margen{
    margin-top: 48px;
}

.icon{
    border-radius: 70%;
    width: 100px;
}

.item{
    background-color: black;
    padding: 30px;
    border-radius: 3%;
}

.contenedorContacto{
    background-color: black;
    color: whitesmoke;
}

.link{
    text-decoration: none;
    color: whitesmoke;
}

.link:hover{
    color: #f22a48
}

.urgencias{
    color: white;
    background-color: #ff0026;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.contenedorAuto{
    background-color: black;
    opacity: 0.8;
}


.wspBoton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
    z-index: 1;
}

.arregloBtn{
    width: 50px !important;
    height: 50px !important;    
    margin-top: 25px;
    margin-left: 30px;
}

footer{
    background-color: black;
    margin-bottom: 0px;
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: gray;
    text-decoration: dotted;
}

@media (max-width: 600px) {
    h1{
        font-size: 30px;
    }
    .contenedor-mobile img{
        width: 28px;
    }
    .contenedor-mobile h5{
        font-size: 75%;
    }
    .contenedorServicios{
        padding: 20px;
    }
    .icon{
        width: 20px;
    }
    .contenedorServicios p{
        font-size: 15px;
    }
    .margen{
        margin-top: 24px;
    }
    .item{
        padding: 10px;
    }
    .urgencias{
        font-size: 90%;
    }
}

@media (max-width: 767px) {
    .icon{
        width: 70px;
    }
    .contenedorLogo{
        padding: 20px;
    }
    .contenedorPresentacion{
        padding: 35px;
        font-size: 70%;
    }
    .contenedorPresentacion img{
        width: 150px;
        height: 150px;
    }
}
